<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAU0Gdrtb0TNm53beXNzd7CTuADzRQgMyc</string>
	<key>GCM_SENDER_ID</key>
	<string>652234887654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eese.Eese</string>
	<key>PROJECT_ID</key>
	<string>eese-53b10</string>
	<key>STORAGE_BUCKET</key>
	<string>eese-53b10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652234887654:ios:9c0705c40ee017dba5c627</string>
</dict>
</plist>